# Docker source
DCK01_HOST=http://x.x.x.1:2375
DCK02_HOST=http://x.x.x.2:2375
DCK03_HOST=http://x.x.x.3:2375
DCK04_HOST=http://x.x.x.4:2375
DCK05_HOST=http://x.x.x.5:2375
DCK06_HOST=http://x.x.x.6:2375

# vcsim source
VCSIM_HOST=https://localhost:8989
VCSIM_USERNAME=user
VCSIM_PASSWORD=pass

# Scrape interval in seconds (applies to all sidecars)
SCRAPE_INTERVAL=300
