# Docker source
DCK01_HOST=http://10.0.40.11:2375
DCK02_HOST=http://10.0.40.12:2375
DCK03_HOST=http://10.0.40.13:2375
DCK04_HOST=http://10.0.40.14:2375
DCK05_HOST=http://10.0.40.15:2375
DCK06_HOST=http://10.0.40.16:2375

# vcsim source
VCSIM_HOST=https://localhost:8989
VCSIM_USERNAME=user
VCSIM_PASSWORD=pass

# Scrape interval in seconds (applies to all sidecars)
SCRAPE_INTERVAL=300
